<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <link rel="icon" href="/img/pic2.jpg"

</head>
<body>
    <div class="main-content">

        {{>header}}
    <img class="portrait" src="/img/pic.jpg">
    </div>
    
    {{>footer}}
    
</body>
</html>