<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/pic2.jpg"


</head>
<body>
    <div class="main-content">
        {{>header}}
    
    <p>you can take help from {{name}}</p>
    <p>it will use your {{title}}</p>
    </div>
   
    {{>footer}}
</body>
</html>
